# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.env
venv/
*.db
*.csv

# Node
node_modules/
admin/dist/

# IDE
.vscode/
.idea/

# Mini Program
miniprogram/project.private.config.json

# OS
.DS_Store
Thumbs.db
